.modal_bg {
  @apply fixed h-full w-full bg-black top-0;

  &.entering {
    animation: show-bg 0.2s forwards;
  }
  &.exiting {
    animation: show-bg 0.5s reverse;
  }

  &.entered {
    @apply bg-modal-windowBG;
  }
  
  


  .modal_window {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;

    &.entering {
      animation: show-modal 0.5s forwards;
    }
    &.exiting {
      animation: show-modal 0.5s reverse;
    }
  }
}
@keyframes show-modal {
  0% {
    // @apply opacity-0 -translate-y-0;
    opacity: 0;
  }

  100% {
    // @apply opacity-1 -translate-y-1/2;
    opacity: 1;
  }
}


@keyframes show-bg {
    0% {
      // @apply opacity-0 -translate-y-0;
        background: #00000000;
    }
  
    100% {
      // @apply opacity-1 -translate-y-1/2;
        background-color: rgba(16,16,16,0.9);
    }
  }
  